/* ----MAIN CSS---- */
body {
    height: 100%;
    width: 100%;
    padding-top: 5px; 
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    /* background-image: url(''); */
    background-image: url('https://storage.googleapis.com/www.santiagonorena.tech/images/mountain-road.jpeg');
    background-attachment: fixed;
    background-position: 32%;
}
   
header {
    padding-top: 10px;
    padding-bottom: 40px;
}


main {
    padding-bottom: 10px;
}

.home-container-1 {
    padding-bottom: 5px
}

.home-container-2 {
    padding-bottom: 250px
}

#live-demo-1 {
    font-size:40px;
    padding-bottom: 130px
}

.text-general {
    color:black;
    font-family:Arial, Helvetica, sans-serif;
}

/* .style is used for the button */
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;

    background-color: rgba(185, 185, 190, 0.6);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 10%,
                                      rgba(0, 0, 0, 0));
}

.styled:hover {
    background-color: rgba(185, 185, 190, 0.9);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

#text-socialmedia {
    color:black;
    font-size: 18px;
}

#icon-socialmedia {
    font-size:28px;
    color:white
}

footer {
    position: relative;
    bottom: 0px;
    width: 100%;
}

#email-icon {
    font-size:28px;
    color:white
}

/* ----about.html me page---- */
#quote {
    width: 60%;
    text-align: left;
    margin:0 auto;
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
    font-weight: bold;
    font-style: italic;
    color:rgba(255, 255, 255, 0.65);
    background-color:rgba(0, 0, 0, .6);
    border: 3px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
}